torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
torchtext==0.15.2
torchdata==0.6.1
torchmetrics[all]==0.11.4
pycocotools==2.0.6
sentence-transformers==2.2.2
transformers==4.30.2
sentencepiece==0.1.99
sacremoses==0.0.53
nlpaug==1.1.11
wordwise==0.0.5
sortedcollections==2.1.0
datasets==2.13.1
evaluate==0.4.0
spacy-transformers==1.2.5
matplotlib==3.7.1
numpy==1.23.4
Pillow==9.3.0
tqdm==4.64.1
wandb==0.13.5
nltk==3.8.1
einops==0.6.1

setuptools~=66.0.0
openai~=0.27.4